# Dictionary Datatype

A dictionary is a data structure that allows you to store and retrieve data in a key-value pair format.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values and each pair separated by colon.

Dictionaries are Mutable means we can modify dictionary

In [5]:
#creating empty dictionary
dict1 = {}
dict1

{}

In [6]:
#creating 7 items in a dictionary
dict2 = {'name':'ramana reddy','id no':2869,'age':22,'gender':'male','qualification':'B.sc','grade':'B','address':'nirmal'}

In [7]:
print(type(dict2))

<class 'dict'>

In [8]:
#accessing each element
dict2['name']

'ramana reddy'

In [9]:
dict2['id no']

2869

In [10]:
dict2['age']

22

In [11]:
dict2['gender']

'male'

In [12]:
dict2['qualification']

'B.sc'

In [13]:
dict2['grade']

'B'

In [14]:
dict2['address']

'nirmal'

In [15]:
#edit
dict2['age']=20
dict2

{'name': 'ramana reddy',
 'id no': 2869,
 'age': 20,
 'gender': 'male',
 'qualification': 'B.sc',
 'grade': 'B',
 'address': 'nirmal'}

In [16]:
#adding
dict2['university']='kakatiya university'
dict2

{'name': 'ramana reddy',
 'id no': 2869,
 'age': 20,
 'gender': 'male',
 'qualification': 'B.sc',
 'grade': 'B',
 'address': 'nirmal',
 'university': 'kakatiya university'}

## Dictionary Methods

In [18]:
dict2 = {'name':'ramana reddy','id no':2869,'age':22,'gender':'male','qualification':'B.sc','grade':'B','address':'nirmal'}

In [19]:
#get                # to get specified value by giving key name
dict2.get('grade')

'B'

In [20]:
#keys               # it will give all key names
dict2.keys()

dict_keys(['name', 'id no', 'age', 'gender', 'qualification', 'grade', 'address'])

In [21]:
#values             # it will give all value names
dict2.values()

dict_values(['ramana reddy', 2869, 22, 'male', 'B.sc', 'B', 'nirmal'])

In [22]:
#items              # it will give all key-value pairs
dict2.items()

dict_items([('name', 'ramana reddy'), ('id no', 2869), ('age', 22), ('gender', 'male'), ('qualification', 'B.sc'), ('grade', 'B'), ('address', 'nirmal')])

In [23]:
#pop                # it will delete particular value by giving key name
dict2.pop('grade')

'B'

In [24]:
#popitem            # it will delete last key-value pair from dictionary
dict2.popitem()

('address', 'nirmal')

In [25]:
#update             # Updates the dictionary with elements from another dictionary or from an iterable of key-value pairs
dict2.update({'grade':'B','email':'kattaramanareddy3@gamil.com','address':'nirmal','college':'girraj college','university':'kakatiya university',})
dict2

{'name': 'ramana reddy',
 'id no': 2869,
 'age': 22,
 'gender': 'male',
 'qualification': 'B.sc',
 'grade': 'B',
 'email': 'kattaramanareddy3@gamil.com',
 'address': 'nirmal',
 'college': 'girraj college',
 'university': 'kakatiya university'}