# Set Datatype

Sets are used to store multiple items in a single variable.

Sets are written with curly brackets.

A set is a collection which is unordered, unchangeable and unindexed.

 Note: Set items are unchangeable, but you can remove items and add new items.

In [ ]:
#set datatype
set1 = {'ramana','nithish','vamshi','jayanth','prem','karthik','akhil','varun','ramana','nithish'}

In [7]:
#type
print(type(set1))

<class 'set'>

In [10]:
#add
set1.add('akhil')
set1

{'akhil', 'jayanth', 'karthik', 'nithish', 'prem', 'ramana', 'vamshi', 'varun'}

In [12]:
#update
set1.update([2,8,6,9])
set1

{2,
 6,
 8,
 9,
 'akhil',
 'jayanth',
 'karthik',
 'nithish',
 'prem',
 'ramana',
 'vamshi',
 'varun'}

In [14]:
#remove
set1.discard('varun')
set1

{2,
 6,
 8,
 9,
 'akhil',
 'jayanth',
 'karthik',
 'nithish',
 'prem',
 'ramana',
 'vamshi'}

In [16]:
#len
len(set1)

11

## Set Operations

In [20]:
#set opertions
set2 = {'ramana','nithish','vamshi','jayanth','prem','karthik','akhil','varun'}
set3 = {'ramana','nithish','vamshi','raju','rakesh','kiran','dhanu','arun'}

In [21]:
#union               # Combines elements from two sets, removing duplicates
set2 | set3

{'akhil',
 'arun',
 'dhanu',
 'jayanth',
 'karthik',
 'kiran',
 'nithish',
 'prem',
 'raju',
 'rakesh',
 'ramana',
 'vamshi',
 'varun'}

In [22]:
#intersection        # Returns common elements between two sets
set2 & set3

{'nithish', 'ramana', 'vamshi'}

In [25]:
#difference          # Returns elements that are in the first set but not in the second and not intersected elements
set2 - set3

{'akhil', 'jayanth', 'karthik', 'prem', 'varun'}

In [27]:
#difference
set3 - set2

{'arun', 'dhanu', 'kiran', 'raju', 'rakesh'}

In [28]:
#symmetric difference       # Returns elements that are in either of the sets, but not in both intersected elements
set2 ^ set3

{'akhil',
 'arun',
 'dhanu',
 'jayanth',
 'karthik',
 'kiran',
 'prem',
 'raju',
 'rakesh',
 'varun'}