# String Datatype

In Python, a string is a sequence of characters.

We use single quotes or double quotes to represent a string in python.

Strings are one of the most commonly used data types, and they are used to represent text.

Strings are immutable, means that once a string is created, you cannot modify its content directly.

In [1]:
# string datatype
str1 = "i am sai karin and i am an architect"

In [2]:
#accessing characters
print(str1[9])

k

In [3]:
print(str1[-3])

e

## String Methods

In [86]:
#len             # it will give no.of characters in a string
len(str1)

36

In [87]:
#split           # it will divide every word into substrings 
str1.split()

['i', 'am', 'sai', 'karin', 'and', 'i', 'am', 'an', 'architect']

In [88]:
#upper           # it will convert string into uppercase
str1.upper()

'I AM SAI KARIN AND I AM AN ARCHITECT'

In [89]:
#lower           # it will convert string into lowercase
str1.lower()

'i am sai karin and i am an architect'

In [90]:
#strip           # it will remove white spaces front and end of the string
str1.strip()

'i am sai karin and i am an architect'

In [91]:
#replace         # it will remove old character and add new character into a string
str1.replace('h','s')

'i am sai karin and i am an arcsitect'

In [92]:
#find            # it will give index position number
str1.find('r')

11

In [57]:
#count           # returns a character no.of times occured
str1.count('a')

7

In [93]:
str2 = "i have 20 years of experience"

In [94]:
#slicing
print(str2[3:14:2])

ae2 er

In [95]:
#string methods
#upper
str2.upper()

'I HAVE 20 YEARS OF EXPERIENCE'

In [96]:
#lower
str2.lower()

'i have 20 years of experience'

In [97]:
#split
str2.split()

['i', 'have', '20', 'years', 'of', 'experience']

In [98]:
#replace
str2.replace('20','25')

'i have 25 years of experience'

In [99]:
#lstrip
str2.lstrip()

'i have 20 years of experience'

In [100]:
#rstrip
str2.rstrip()

'i have 20 years of experience'

In [101]:
#startswith
str2.startswith('v')

False

In [102]:
#endswith
str2.endswith('e')

True

In [103]:
#rfind
str2.rfind('y')

10

## String Operations

In [2]:
#concatenation
str1 = "i am sai karin and i am an architect"
str2 = "i have 20 years of experience"

In [3]:
str3 = str1 + " " + str2
str3

'i am sai karin and i am an architect i have 20 years of experience'

## String Formats

In [123]:
#string formatting
name = "Ramana"
age = 22
location = "Nirmal"

In [124]:
# using % format
str4 = "My name is %s and i am %d years old and i am from %s."%(name,age,location)
str4

'My name is Ramana and i am 22 years old and i am from Nirmal.'

In [125]:
# using . foramt
str5 = "My name is {} and i am {} years old and i am from {}.".format(name,age,location)
str5

'My name is Ramana and i am 22 years old and i am from Nirmal.'

In [126]:
# using f-strings
str6 = f"My name is {name} and i am {age} years old and i am from {location}."
str6

'My name is Ramana and i am 22 years old and i am from Nirmal.'

## Escape Characters

Escape characters are used to include special characters within a string.

Common escape characters include \n (newline), \t (tab), \" (double quote), and \' (single quote).

In [23]:
#escape characters
Raina = "Suresh Raina (born 27 November 1986) is an Indian former international cricketer.He occasionally served as stand-in captain for Indian men's national cricket team as well as in IPL for Chennai Super Kings during the absence of the main captain, MS Dhoni.\nHe played for Uttar Pradesh (UP) in domestic cricket circuit.\nHe is an aggressive left-handed middle-order batsman and an occasional off-spin bowler.He is the \'second-youngest\' player ever to captain India.\tHe was the captain of Gujarat Lions in the Indian Premier League (IPL), and he also served as vice-captain of the Chennai Super Kings.\nHe is the first Indian batsman to hit a century in \'all three formats\' of international cricket.\tDuring his time with India, he won the \'2011 Cricket World Cup\' and the \'2013 ICC Champions Trophy\'.\nRaina made history being the first Indian to score a century in the ICC Men's T20 World Cup, which he did with his \'101 runs\' against South Africa at the 2010 Tournament."

In [24]:
print(Raina)

Suresh Raina (born 27 November 1986) is an Indian former international cricketer.He occasionally served as stand-in captain for Indian men's national cricket team as well as in IPL for Chennai Super Kings during the absence of the main captain, MS Dhoni.
He played for Uttar Pradesh (UP) in domestic cricket circuit.
He is an aggressive left-handed middle-order batsman and an occasional off-spin bowler.He is the 'second-youngest' player ever to captain India.	He was the captain of Gujarat Lions in the Indian Premier League (IPL), and he also served as vice-captain of the Chennai Super Kings.
He is the first Indian batsman to hit a century in 'all three formats' of international cricket.	During his time with India, he won the '2011 Cricket World Cup' and the '2013 ICC Champions Trophy'.
Raina made history being the first Indian to score a century in the ICC Men's T20 World Cup, which he did with his '101 runs' against South Africa at the 2010 Tournament.

In [5]:
#repetition
str2 = "i have 20 years of experience " *4

In [6]:
str2

'i have 20 years of experience i have 20 years of experience i have 20 years of experience i have 20 years of experience '

In [5]:
str1 = "my name is ramana reddy"

In [6]:
str2 = "and i am 22 years old."

In [9]:
str3 = str1+" "+str2
str3

'my name is ramana reddy and i am 22 years old.'